body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #0B0F19;
    color: #f1f1f1;
}

.card{
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.es{
    background: url(../img/original-faa5eca6fe377cba010335c283d7a7e1.mp4);
    padding: 4rem;
}

.es h1{
    font-size: 4em;
}

p{
    color: #7D7D7D;
}

/*FORM*/

form{
    margin: 7rem auto;
    width: 80%;
}

.card-group input{
    font-size: 16px;
    width: 60%;
    padding: 1.3rem;
    border: 0;
    background: #7d7d7d3b;
    border-radius: 5px;
    display: block;
    color: #fff;
    outline: 2px solid #ffffff2d;
}

.card-group input:focus{
    transition: all .2s ease-in-out;
    outline: 2px solid #983ee2;
}

.card-group button{
    margin-top: 2rem;
    width: 68%;
    padding: 1.3rem;
    background: #983ee2;
    color: #fff;
    font-size: 18px;
    border: 0;
    border-radius: 5px;
    display: block;
}